version: '3.3'
services:
  teamspeak:
    image: xanderxaj/teamspeak
    ports:
      - 9987:9987/udp
      - 10011:10011
      - 30033:30033
    volumes:
      - teamspeak:/data
    deploy:
      replicas: 1
      resources:
        limits:
          memory: 100M
      restart_policy:
        delay: 2s
        max_attempts: 10
        window: 10s

volumes:
  teamspeak:
